In [ ]:
import pandas as pd
import sqlite3

In [ ]:
df = pd.read_csv('online_sales_dataset.csv')

In [ ]:
print(df.columns)
df.head()

In [ ]:
df = pd.read_csv('online_sales_dataset.csv', parse_dates=['InvoiceDate'])

In [ ]:
conn = sqlite3.connect(':memory:')
df.to_sql('online_sales', conn, index=False, if_exists='replace')

In [ ]:
query = '''
SELECT
    STRFTIME('%Y', InvoiceDate) AS year,                     -- a. extract year
    STRFTIME('%m', InvoiceDate) AS month,                    -- a. extract month
    SUM(UnitPrice * Quantity) AS total_revenue,             -- c. calculate revenue
    COUNT(DISTINCT InvoiceNo) AS order_volume               -- d. count unique orders
FROM
    online_sales
WHERE
    InvoiceDate BETWEEN '2023-01-01' AND '2023-12-31'        -- f. time filtering
GROUP BY
    year, month                                              -- b. group by month
ORDER BY
    year ASC, month ASC                                      -- e. order chronologically
'''

In [ ]:
result = pd.read_sql_query(query, conn)
result